<div id="particles-js"></div>
  <div class="header">
    <img class="img-fluid rounded-circle mb-5" src="{{site.url}}/assets/img/2rd_avatar.png" width="0"
      alt="{{site.username}}">
      <h1>
        <span class="site-title">{{site.page_404}}</span>
        <span class="site-description">{{site.page_404_description}}</span>
      </h1>
    <footer class="footer">
      <p>{{site.footer}} | {{site.domain}} <span class="site-description"><a href="{{site.url}}" style="color: darkgrey;">กลับหน้าแรก</a></span></p>
    </footer>
  </div>