<div id="particles-js"></div>
<div class="header">
  <p style="padding-top: 5px;"></p>
  <img class="mb-5" src="{{site.url}}/assets/img/marketplace_icon.png" width="240" alt="{{site.username}}">
  <h1>
    <span class="site-title">แปลภาษาไทย</span>
    <span class="site-description">Addon & World Bedrock</span>
  </h1>
  <h2>
    <span class="site-user-description">🤣 แปลแบบแล้วแต่อารม 🤣</span>
  </h2>
  <div class="share">
    <div class="share-container">
      <div class="share-button-hide-">
        <a class="share-button share-button-steam" href="{{site.url}}/download/RLCraft_THLanguage_0.3.mcpack" target="_blank">
          <span>RLCraft v0.3</span>
        </a>
      </div>
    </div>
  </div>
  <div class="share-container">
    <div class="share-button-hide-">
      <a class="share-button share-button-youtube" href="https://youtu.be/HhJ7skYD1p0" target="_blank">
        <span>วิธีเปิดใช้งาน</span>
      </a>
    </div>
  </div>
  <h2>
    <span class="site-user-description"></span>
  </h2>
  <footer class="footer">
    <p>ใช้ AI ช่วยแปล</p>
    <p>{{site.footer}} | {{site.domain}}</p>
  </footer>
</div>
</div>