<div class="container">
  <div class="column">
    <img class="avatar avatar--soft" src="{{site.url}}/images/avatar-hytale.png"
      srcset="{{site.url}}/images/avatar-hytale@2x.png" alt="{{site.username}}" />
    <h1>
      <div>{{site.hytale_title}}</div>
    </h1>
    <p>{{site.hytale_description}}</p>

    <!-- <h2 style="color: rgb(255, 0, 0);">ใครใช้เวอร์ชั่นเก่าก่อนหน้านี้</h2>
    <p class="line" style="color: rgb(255, 0, 0); margin-top: -20px;">
      (ให้ลบลงใหม่ก่อนรอบนึง ไฟล์โลกไม่หายครับ)
    </p> -->

    <!-- All your buttons go here -->
    <div class="button-stack" role="navigation">
      <!-- Default -->
      <a class="button button-default" href="{{site.url}}" rel="noopener" role="button">
        <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/back.svg" alt="Back Icon" />ย้อนกลับ</a>

      <!-- line -->
      <p class="line">
        <i class="fa-solid fa-language"></i> ม็อดภาษาไทย
      </p>

      <!-- แพ็กภาษาไทย -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/THLanguage-0.6.jar">
        <a class="button button-release sensitive-trigger" href="javascript:void(0)">
          ภาษาไทยอัปเดต 0.6</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ฟอนต์ไทย+แปลไทย</p>
            <p style="color: brown;">ใช้ AI ในการแปล</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีติดตั่ง</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลดภาษาไทย
            </button>
          </div>
        </div>
      </div>

      <!-- แพ็กภาษาไทย -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/THLanguage-0.6_Old_pre-release.zip">
        <a class="button button-pre-release sensitive-trigger" style="flex-wrap: wrap;" href="javascript:void(0)">
          ภาษาไทยอัปเดต 0.6<br><text style="color: rgb(0 255 245);">(ลงแบบทับไฟล์เกม)</text></a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>สำหรับคนที่ลงแบบใหม่แล้วมีปัญหา</p>
            <p style="color: rgb(255, 0, 0);">**ต้องลบเกมลงใหม่ทุกครั้งที่มีอัปเดต**</p>
            <div>
              <a class="button button-sensitive-yt" href="https://www.youtube.com/watch?v=RaLs9FVWJ6k" target="_blank"
                rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีติดตั่ง (แบบเก่า)</a>
            </div>
            <div>
              <a class="button button-sensitive-release"
                href="{{site.url}}/download/hytale/THLanguage-0.6_Old_release.zip" target="_blank" rel="noopener"
                role="button">
                เวอร์ชั่น release</a>
            </div>
            <button class="button button-sensitive-pre-release sensitive-continue">
              เวอร์ชั่น pre-release
            </button>
          </div>
        </div>
      </div>

      <!-- line -->
      <p class="line">
        <i class="fa-solid fa-font"></i> ม็อดไทยฟอนต์
      </p>

      <!-- แพ็กไทยฟอนต์ -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/Thai_font_fix-0.2.jar">
        <a class="button button-release sensitive-trigger" href="javascript:void(0)">
          ฟอนต์ไทยอัปเดต 0.2</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>มีแค่ฟอนต์เท่านั้น</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีติดตั่ง</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลดฟอนต์
            </button>
          </div>
        </div>
      </div>

      <!-- แพ็กไทยฟอนต์ -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/THFont-0.2_Old_pre-release.zip">
        <a class="button button-pre-release sensitive-trigger" style="flex-wrap: wrap;" href="javascript:void(0)">
          ฟอนต์ไทยอัปเดต 0.2<br><text style="color: rgb(0 255 245);">(ลงแบบทับไฟล์เกม)</text></a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>สำหรับคนที่ลงแบบใหม่แล้วมีปัญหา</p>
            <p style="color: rgb(255, 0, 0);">**ต้องลบเกมลงใหม่ทุกครั้งที่มีอัปเดต**</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีติดตั่ง (แบบเก่า)</a>
            </div>
            <div>
              <a class="button button-sensitive-release"
                href="{{site.url}}/download/hytale/THFont-0.2_Old_release.zip" target="_blank" rel="noopener"
                role="button">
                เวอร์ชั่น release</a>
            </div>
            <button class="button button-sensitive-pre-release sensitive-continue">
              เวอร์ชั่น pre-release
            </button>
          </div>
        </div>
      </div>

    </div>

    <footer>
      {{ site.footer | replace: 'URL_PLACEHOLDER', site.url | replace:
      'USER_PLACEHOLDER', site.username }}
    </footer>
  </div>
</div>