<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-links">
        <a class="link" href="https://www.facebook.com/2RD.Channel" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a class="link" href="https://www.youtube.com/@2RD.Channel" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a>
        <a class="link" href="https://www.tiktok.com/@2RD.Channel" target="_blank"><i class="fa-brands fa-tiktok"></i> Tiktok</a>
        <a class="link" href="https://bsky.app/profile/2rd.top" target="_blank"><i class="fa-brands fa-bluesky"></i> Bluesky</a>
      </div>
  </div>
</div>
