    <div class="container">
        <div class="column">

            <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
            <img class="avatar avatar--rounded" src="images/avatar-mods.png" srcset="images/avatar-mods@2x.png 2x" alt="LittleLink">

            <!-- Replace with your name or brand -->
            <h1>
              <div>ม็อดภาษาไทย</div>
            </h1>

            <!-- All your buttons go here -->
            <div class="button-stack" role="navigation">

            <!-- Generic Homepage -->
            <a class="button button-default" href="/index" target="_top" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/generic-homepage.svg" alt="Homepage Icon">กลับหน้าแรก</a>

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/RLCraft_THLanguage_0.5.mcpack">
              <!-- Trigger Button -->
              <a class="button button-download sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/RLCraft_TH.png" alt="Download icon">RLCraft v0.5
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                  <div><a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดภาษาไทยในโลก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/BoB_THLanguage_0.2.mcpack">
              <!-- Trigger Button -->
              <a class="button button-download sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/BoB_TH.png" alt="Download icon">Better on Bedrock v0.2
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                    <div><a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดภาษาไทยในโลก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/RealismCraft_THLanguage_0.2.mcpack">
              <!-- Trigger Button -->
              <a class="button button-download sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/RealismCraft_TH.png" alt="Download icon">RealismCraft v0.2
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                    <div><a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดภาษาไทยในโลก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/Superman_THLanguage_0.1.mcpack">
              <!-- Trigger Button -->
              <a class="button button-download sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/Superman_TH.png" alt="Download icon">Superman v0.1
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                    <div><a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดภาษาไทยในโลก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/ST_THLanguage_0.1.mcpack">
              <!-- Trigger Button -->
              <a class="button button-download sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/ST_TH.png" alt="Download icon">Stranger Things v0.1
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                    <div><a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดภาษาไทยในโลก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/Thai_Font.mcpack">
              <!-- Trigger Button -->
              <a class="button button-thai-font sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/font.svg" alt="Thai Font icon">รีซอร์ซแพ็กไทยฟอนต์
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                  <div><a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดใช้รีซอร์ซแพ็ก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="slide-container" data-continue-url="https://github.com/MineGarp/THLanguage_Bedrock">
              <!-- Trigger Button -->
              <a class="button button-THLanguage sensitive-trigger" href="javascript:void(0)">
                  <img class="icon" aria-hidden="true" src="images/icons/THLanguage.png" alt="ภาษาไทยเกมหลัก icon">รีซอร์ซแพ็กภาษาไทยเกมหลัก
              </a>

              <!-- The Slide-Down Panel -->
              <div class="sensitive-panel">
                <div class="sensitive-panel__content">
                    <div><a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J" target="_blank" rel="noopener" role="button"><img class="icon" aria-hidden="true" src="images/icons/youtube.svg" alt="YouTube Logo">วิธีเปิดใช้รีซอร์ซแพ็ก</a></div>
                  <button class="button button-sensitive sensitive-continue">ดาวน์โหลด</button>
                </div>
              </div>
            </div>
            <!-- End -->

        </div>

      <!-- Feel free to add your own footer information, including updating `privacy.html` to reflect how your LittleLink fork is set up -->
      <footer>
        <!-- <a href="privacy.html">Privacy Policy</a> | Build your own by forking <a href="https://littlelink.io" target="_blank" rel="noopener">LittleLink</a> -->
        {{site.footer}} <a href="{{site.url}}" class="menu-link category-link">{{site.username}}</a>. All rights reserved.
      </footer>

    </div>
  </div>
