<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:contact@2rd.top?subject=สวัสดีครับ!"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://facebook.com/2RD.Channel"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Youtube" target="_blank" href="https://youtube.com/@2RD.Channel"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Tiktok" target="_blank" href="https://tiktok.com/@2RD.Channel"><i class="icon fa fa-tiktok" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
