<div id="particles-js">
  <div class="header">
    <img class="img-fluid rounded-circle mb-5" src="{{site.url}}/assets/img/2rd_avatar.png" width="120"
      alt="{{site.username}}">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.description}}</span>
    </h1>
    <h2>
      <span class="site-user-description">{{site.user_description}}</span>
    </h2>
    <div class="share">
      <div class="share-container">


        <div class="share-button-hide-{{site.s1_hide}}">
          <a class="share-button share-button-{{site.s1_icon}}" href="{{site.s1_link}}" target="_blank">
            <i class="fa-brands fa-{{site.s1_icon}}" aria-hidden="true"></i>
            <span>{{site.s1_name}}</span>
          </a>
        </div>
        <div class="share-container">
          <div class="share-button-hide-{{site.s2_hide}}">
            <a class="share-button share-button-{{site.s2_icon}}" href="{{site.s2_link}}" target="_blank">
              <i class="fa-brands fa-{{site.s2_icon}}" aria-hidden="true"></i>
              <span>{{site.s2_name}}</span>
            </a>
          </div>
          <div class="share-container">
            <div class="share-button-hide-{{site.s3_hide}}">
              <a class="share-button share-button-{{site.s3_icon}}" href="{{site.s3_link}}" target="_blank">
                <i class="fa-brands fa-{{site.s3_icon}}" aria-hidden="true"></i>
                <span>{{site.s3_name}}</span>
              </a>
            </div>
            <div class="share-container">
              <div class="share-button-hide-{{site.s4_hide}}">
                <a class="share-button share-button-{{site.s4_icon}}" href="{{site.s4_link}}" target="_blank">
                  <i class="fa-brands fa-{{site.s4_icon}}" aria-hidden="true"></i>
                  <span>{{site.s4_name}}</span>
                </a>
              </div>
              <div class="share-container">
                <div class="share-button-hide-{{site.s5_hide}}">
                  <a class="share-button share-button-{{site.s5_icon}}" href="{{site.s5_link}}" target="_blank">
                    <i class="fa-brands fa-{{site.s5_icon}}" aria-hidden="true"></i>
                    <span>{{site.s5_name}}</span>
                  </a>
                </div>

      </div>
    </div>
    <footer class="footer">
      <p>{{site.footer}} | {{site.domain}}</p>
    </footer>
  </div>
</div>