<div class="container">
  <div class="column">
    <img class="avatar avatar--soft" src="{{site.url}}/images/avatar-mods.png"
      srcset="{{site.url}}/images/avatar-mods@2x.png" alt="{{site.mods_title}}" />
    <h1>{{site.mods_title}}</h1>
    <p>{{site.mods_description}}</p>

    <!-- All your buttons go here -->
    <div class="button-stack" role="navigation">
      <!-- Default -->
      <a class="button button-default" href="{{site.url}}" rel="noopener" role="button">
        <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/back.svg" alt="Back Icon" />ย้อนกลับ</a>

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/RLCraft_THLanguage_0.5.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/RLCraft_TH.png"
            alt="Download icon" />RLCraft v0.5</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ RLCraft เวอร์ชั่น 1.1.0 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดภาษาไทยในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/BoB_THLanguage_0.2.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/BoB_TH.png" alt="Download icon" />
          Better on Bedrock v0.2</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ Better on Bedrock เวอร์ชั่น 1.2.0 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดภาษาไทยในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/RealismCraft_THLanguage_0.3.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/RealismCraft_TH.png"
            alt="Download icon" />RealismCraft v0.3</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ Better on Bedrock เวอร์ชั่น 2.3 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดภาษาไทยในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/Superman_THLanguage_0.1.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/Superman_TH.png"
            alt="Download icon" />Superman v0.1</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดภาษาไทยในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/ST_THLanguage_0.1.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/ST_TH.png" alt="Download icon" />Stranger
          Things v0.1</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดภาษาไทยในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/Thai_Font.mcpack">
        <a class="button button-thai-font sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/font.svg"
            alt="Thai Font icon" />รีซอร์ซแพ็กไทยฟอนต์</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>มีแค่ฟอนต์เท่านั้น</p>
            <p>
              แก้ไขให้อ่านง่ายขึ้นโดย
              <a href="https://github.com/NotSus555/THLanguage_Bedrock" target="_blank" rel="noopener">ImNotSus555</a>
            </p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Start -->
      <div class="slide-container" data-continue-url="https://github.com/MineGarp/THLanguage_Bedrock">
        <a class="button button-THLanguage sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/THLanguage.png"
            alt="ภาษาไทยเกมหลัก icon" />รีซอร์ซแพ็กภาษาไทย</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>แปลแค่ตัวเกมหลักเท่านั้น ไม่เกี่ยวกับแอดออน</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>

    <footer>
      {{ site.footer | replace: 'URL_PLACEHOLDER', site.url | replace: 'USER_PLACEHOLDER', site.username }}
    </footer>
  </div>
</div>