
    <div class="shop-window-container ro-bear">
        <div class="shop-header">
            <span class="shop-title ro-bear">Ragnarok BEAR BEAR</span>
            <div class="header-buttons">
                <a href="{{site.url}}" class="menu-link" style="text-decoration: none;"><button class="header-btn close-btn">X</button></a>
                <!-- <button class="header-btn minimize-btn"></button> -->
            </div>
        </div>

        <div class="shop-content ro-bear">
            <p style="margin: auto; margin-top: 10px; margin-bottom: 10px;"><img src="{{site.url}}/assets/img/logo-ragnarok.png" alt="Ragnarok BEAR BEAR" style="width: 200px; height: auto;"></p>
            <p>🔥 Ragnarok BEAR BEAR เปิดให้เข้าทดสอบแล้ววันนี้!</p>
            <p>🧪 เข้าร่วมช่วง BETA TEST</p>
            <p>🐻 รีบเข้ามาทดสอบก่อนเปิดจริง!</p>
            <p>🛠 ใครเจอบั๊ก... ได้บุญ! ช่วยแจ้งทีมงานด้วยครับ</p>
            <p>⚠️ ข้อมูลทั้งหมดในช่วง BETA อาจถูกรีเซ็ตเมื่อเปิดจริง</p>
            <p>📥 ดาวน์โหลดเกมได้แล้ววันนี้</p>
            <p>💬 เข้ากลุ่ม Discord เพื่อรายงานบั๊ก/พูดคุยกับทีมงาน</p>
            <p style="margin: auto; margin-top: 20px;"><a href="http://thenerdgamer.servegame.com" class="menu-link" style="text-decoration: none;"><button class="header-btn close-btn" style="width: 160px; height: 30px;">👉 เข้าสู่เว็บไซต์ 👈</button></a></p>
            </div>

        <div class="shop-footer">
            <div class="player-footer">
                <span>{{site.footer}} <a href="{{site.url}}" class="menu-link category-link">{{site.username}}</a>. All rights reserved.</span>
            </div>
        </div>
    </div>
