<div class="container">
    <div class="column">
        <img alt="{{site.username}}" class="avatar avatar--soft" src="{{site.url}}/images/avatar-mods.png"
            srcset="{{site.url}}/images/avatar-mods@2x.png" />
        <h1>
            <div>{{site.mcpe_title}}</div>
        </h1>
        <p>{{site.mcpe_description}}</p>
        <!-- All your buttons go here -->
        <div class="button-stack" role="navigation">
            <!-- Default -->
            <a href="{{site.url}}" class="button button-default" rel="noopener" role="button"><img alt="Back Icon"
                    class="icon" src="{{site.url}}/images/icons/back.svg" aria-hidden="true" />ย้อนกลับ</a>
            <p class="line">
                <i class="fa-solid fa-closed-captioning"></i> ภาษาไทยของเกมหลัก
            </p>
            <!-- รีซอร์ซแพ็กภาษาไทย -->
            <div class="slide-container" data-continue-url="https://github.com/MineGarp/THLanguage_Bedrock">
                <a href="javascript:void(0)" class="button sensitive-trigger button-THLanguage"><img
                        alt="รีซอร์ซแพ็กภาษาไทย icon" class="icon" src="{{site.url}}/images/icons/THLanguage.png"
                        aria-hidden="true" />รีซอร์ซแพ็กภาษาไทย</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <p>แปลแค่ตัวเกมหลักเท่านั้น ไม่เกี่ยวกับแอดออน</p>
                        <p>
                            สร้างโดย:
                            <a href="https://www.facebook.com/MineGarp.PED/" rel="noopener"
                                target="_blank">มายก๊าบดอทเป็ด</a>
                        </p>
                        <div>
                            <a href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            <img alt="GitHub Logo" class="icon" src="images/icons/github.svg" aria-hidden="true" />
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <!-- รีซอร์ซแพ็กไทยฟอนต์ -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/Thai_Font.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-thai-font"><img alt="Thai Font icon"
                        class="icon" src="{{site.url}}/images/icons/font.svg"
                        aria-hidden="true" />รีซอร์ซแพ็กไทยฟอนต์</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <p>มีแค่ฟอนต์เท่านั้น</p>
                        <p>
                            แก้ไขฟอนต์โดย<a href="https://github.com/NotSus555/THLanguage_Bedrock" rel="noopener"
                                target="_blank">ImNotSus555</a>
                        </p>
                        <div>
                            <a href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <p class="line">
                <i class="fa-solid fa-earth-americas"></i> ภาษาไทยของโลก
            </p>
            <!-- RLCraft -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/RLCraft_THLanguage_0.5.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-download"><img alt="Download icon"
                        class="icon" src="{{site.url}}/images/icons/RLCraft_TH.png" aria-hidden="true" />RLCraft
                    v0.5</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <p>ใช้งานได้กับ เวอร์ชั่น 1.1.0 ขึ้นไป</p>
                        <div>
                            <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้งานในโลก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <!-- Better on Bedrock -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/BoB_THLanguage_0.2.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-download"><img alt="Download icon"
                        class="icon" src="{{site.url}}/images/icons/BoB_TH.png" aria-hidden="true" />
                    Better on Bedrock v0.2</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <p>ใช้งานได้กับ เวอร์ชั่น 1.2.0 ขึ้นไป</p>
                        <div>
                            <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้งานในโลก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <!-- RealismCraft -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/RealismCraft_THLanguage_0.3.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-download"><img alt="Download icon"
                        class="icon" src="{{site.url}}/images/icons/RealismCraft_TH.png"
                        aria-hidden="true" />RealismCraft v0.3</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <p>ใช้งานได้กับ เวอร์ชั่น 2.3 ขึ้นไป</p>
                        <div>
                            <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้งานในโลก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <!-- Superman -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/Superman_THLanguage_0.1.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-download"><img alt="Download icon"
                        class="icon" src="{{site.url}}/images/icons/Superman_TH.png" aria-hidden="true" />Superman
                    v0.1</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <div>
                            <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้งานในโลก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
            <!-- Stranger Things -->
            <div class="slide-container" data-continue-url="{{site.url}}/download/ST_THLanguage_0.1.mcpack">
                <a href="javascript:void(0)" class="button sensitive-trigger button-download"><img alt="Download icon"
                        class="icon" src="{{site.url}}/images/icons/ST_TH.png" aria-hidden="true" />
                    Stranger Things v0.1</a>
                <div class="sensitive-panel">
                    <div class="sensitive-panel__content">
                        <div>
                            <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                                class="button button-sensitive-yt" rel="noopener" role="button" target="_blank"><img
                                    alt="YouTube Logo" class="icon" src="{{site.url}}/images/icons/youtube.svg"
                                    aria-hidden="true" />วิธีเปิดใช้งานในโลก</a>
                        </div>
                        <button class="button button-sensitive sensitive-continue">
                            ดาวน์โหลด
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            {{ site.footer | replace: 'URL_PLACEHOLDER', site.url | replace:
      'USER_PLACEHOLDER', site.username }}
        </footer>
    </div>
</div>