/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, .avatar {
    --button-border: 1px solid #000;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.8);
}

/* Download */
.button-download {
    --button-text: #ffffff;
    --button-background: #6D1C1C;
}

/* Thai Font */
.button-thai-font {
    --button-text: #ffffff;
    --button-background: #383838;
}

/* ภาษาไทยเกมหลัก */
.button-THLanguage {
    --button-text: #ffffff;
    --button-background: #383838;
}

/* ม็อดมายคราฟ */
.button-ม็อดมายคราฟ {
    --button-text: #ffffff;
    --button-background: #217d0d;
}

/* Email-2 */
.button-email-2 {
    --button-text: #ffffff;
    --button-background: #115ad0;
}

/* Planet Coaster */
.button-planet-coaster {
    --button-text: #ffffff;
    --button-background: #1767c4;
}