/* 2RD */

.avatar2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Adjusts the width to 50% of the original size */
}

/* Download */
.button-download {
    --button-text: #ffffff;
    --button-background: #2b2c45;
    --button-border: 1px solid #FFFFFF;
}

/* Thai Font */
.button-thai-font {
    --button-text: #ffffff;
    --button-background: #485284;
    --button-border: 1px solid #FFFFFF;
}

/* ภาษาไทยเกมหลัก */
.button-THLanguage {
    --button-text: #ffffff;
    --button-background: #8b3737;
    --button-border: 1px solid #FFFFFF;
}

/* Mods */
.button-mods {
    --button-text: #ffffff;
    --button-background: #b80000;
    --button-border: 1px solid #FFFFFF;
}
