/** สีของปุ่มโซเชียล **/
.share-button-facebook {
  background: #0866ff;
  background: linear-gradient(270deg,#0866ff 0%, #063f9b 80%);
  background: -webkit-linear-gradient(270deg,#0866ff 0%, #063f9b 80%);
  background: -moz-linear-gradient(270deg,#0866ff 0%, #063f9b 80%);
}

.share-button-youtube {
  background: #fd0100;
  background: linear-gradient(270deg,#fd0100 0%, #bc0505 80%);
  background: -webkit-linear-gradient(270deg,#fd0100 0%, #bc0505 80%);
  background: -moz-linear-gradient(270deg,#fd0100 0%, #bc0505 80%);
}

.share-button-tiktok {
  background: #020204;
  background: linear-gradient(270deg,#020204 0%, #0e0e20 80%);
  background: -webkit-linear-gradient(270deg,#020204 0%, #0e0e20 80%);
  background: -moz-linear-gradient(270deg,#020204 0%, #0e0e20 80%);
}

.share-button-bluesky {
  background: #00b4fb;
  background: linear-gradient(270deg,#00b4fb 0%, #0187bb 80%);
  background: -webkit-linear-gradient(270deg,#00b4fb 0%, #0187bb 80%);
  background: -moz-linear-gradient(270deg,#00b4fb 0%, #0187bb 80%);
}

.share-button-at {
  background: #43d854;
  background: linear-gradient(270deg,#43d854 0%, #2b8e37 80%);
  background: -webkit-linear-gradient(270deg,#43d854 0%, #2b8e37 80%);
  background: -moz-linear-gradient(270deg,#43d854 0%, #2b8e37 80%);
}

.share-button-steam {
  background: #171d25;
  background: linear-gradient(270deg,#171d25 0%, #1b2634 80%);
  background: -webkit-linear-gradient(270deg,#171d25 0%, #1b2634 80%);
  background: -moz-linear-gradient(270deg,#171d25 0%, #1b2634 80%);
}

.share-button-xbox {
  background: #107c10;
  background: linear-gradient(270deg,#107c10 0%, #0d520d 80%);
  background: -webkit-linear-gradient(270deg,#107c10 0%, #0d520d 80%);
  background: -moz-linear-gradient(270deg,#107c10 0%, #0d520d 80%);
}