/* 2RD.top
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  body {
	font-family: 'CMU Serif', serif;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.avatar2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* Adjusts the width to 50% of the original size */
}

/* Typography Scale */
h1,
h2,
h3,
h4,
p {
  color: rgb(255, 255, 255);
  text-shadow:
    0px 0px 15px #000000,
    0px 0px 10px #000000,
    0px 0px 10px #000000;
}

p.footer {
  font-weight: 700;
  margin: 0;
}

p.line {
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root.theme-dark a:not(.button) {
  color: #ff74bc;
}

:root.theme-dark a:not(.button):hover {
  color: #b45388;
}

/* Font Face Definitions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-display:swap;
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Light.woff2') format('woff2'),
         url('../fonts/CMU-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display:swap;
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Regular.woff2') format('woff2'),
         url('../fonts/CMU-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display:swap;
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Bold.woff2') format('woff2'),
         url('../fonts/CMU-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}