/* 2RD.top
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  body {
	font-family: 'CMU Serif', serif;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.avatar2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* Adjusts the width to 50% of the original size */
}

/* Typography Scale */
h1,
h2,
h3,
h4,
p {
  color: rgb(255, 255, 255);
  text-shadow:
    0px 0px 15px #000000,
    0px 0px 10px #000000,
    0px 0px 10px #000000;
}

p.footer {
  margin: 0;
}

p.line {
  margin-bottom: 1rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root.theme-dark a:not(.button) {
  color: #ff74bc;
}

:root.theme-dark a:not(.button):hover {
  color: #b45388;
}

/* Font Face Definitions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 1. Regular (ตัวปกติ) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Regular.woff2') format('woff2'),
         url('../fonts/CMU-Regular.woff') format('woff'),
         url('../fonts/CMU-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Bold (ตัวหนา) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Bold.woff2') format('woff2'),
         url('../fonts/CMU-Bold.woff') format('woff'),
         url('../fonts/CMU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* 3. Italic (ตัวเอียง) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Italic.woff2') format('woff2'),
         url('../fonts/CMU-Italic.woff') format('woff'),
         url('../fonts/CMU-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* 4. Bold Italic (ตัวหนาเอียง) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-BoldItalic.woff2') format('woff2'),
         url('../fonts/CMU-BoldItalic.woff') format('woff'),
         url('../fonts/CMU-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* 5. Light (ตัวบาง) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-Light.woff2') format('woff2'),
         url('../fonts/CMU-Light.woff') format('woff'),
         url('../fonts/CMU-Light.ttf') format('truetype');
    font-weight: 300; /* กำหนดน้ำหนักให้เบากว่าปกติ */
    font-style: normal;
}

/* 6. Light Italic (ตัวบางเอียง) */
@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/CMU-LightItalic.woff2') format('woff2'),
         url('../fonts/CMU-LightItalic.woff') format('woff'),
         url('../fonts/CMU-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}