/* 2RD.top
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Avatar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.avatar2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Adjusts the width to 50% of the original size */
}

/* Typography Scale */
h1, h2, h3, h4, p {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000;
}

p.footer {
margin: 0;
}

p.line {
margin-bottom: 1rem;
}

/* 3) When open, show border and expand */
.sensitive-panel.open {
  margin-top: 0.1rem;

}

/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
:root.theme-dark a:not(.button) {
	color:#ff74bc;
}
:root.theme-dark a:not(.button):hover {
	color:#b45388;
}

/* Font Face Definitions
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}


