<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Content</title>
    <link rel="stylesheet" href="{{ '/assets/css/2rd_menu.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
        .menu-link.rd2-youtube {
            color: #a70b0b;
            text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff;
            background-color: #a70b0b;
        }

        .menu-link.rd2-youtube:hover {
            color: #fff;
            text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
            background-color: #7e0f0f;
        }
    </style>
</head>

<body>
    <ul class="tree-menu">
        <!--<li class="menu-item expanded">
            <a href="http://thenerdgamer.servegame.com" class="menu-link ro-bear" target="_top"><i
                    class="fa-solid fa-rectangle-ad"></i> Ragnarok BEAR BEAR</a>
        </li>-->
        <li class="menu-item expanded">
            <!--<a href="{{site.url}}/mods" class="menu-link category-link" style="color: #942626;" target="_top"><i
                    class="fa-solid fa-file-arrow-down" style="width: 25px; text-align: center;"></i>
                โหลดม็อดภาษาไทย</a>-->
            <!--<ul class="submenu">-->
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/RLCraft_THLanguage_0.5.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-arrow-right" style="width: 25px; text-align: center;"></i> RLCraft
                            v0.5
                        </a>
                        <a href="https://youtu.be/4zu2mah2Lh0" class="small-btn" target="_blank" title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/BoB_THLanguage_0.2.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-arrow-right" style="width: 25px; text-align: center;"></i> Better on
                            Bedrock v0.2
                        </a>
                        <a href="https://youtu.be/_rK01pqg6VQ" class="small-btn" target="_blank" title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/RealismCraft_THLanguage_0.2.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-arrow-right" style="width: 25px; text-align: center;"></i>
                            RealismCraft v0.2
                        </a>
                        <a href="https://youtu.be/Ur8O6V3Vv14" class="small-btn" target="_blank" title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/Superman_THLanguage_0.1.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-arrow-right" style="width: 25px; text-align: center;"></i> Superman
                            v0.1
                        </a>
                        <a href="https://youtu.be/nH0PJaoaAKE" class="small-btn" target="_blank" title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/ST_THLanguage_0.1.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-arrow-right" style="width: 25px; text-align: center;"></i> Stranger
                            Things v0.1
                        </a>
                        <a href="https://youtu.be/Z9zMV0iyNrU" class="small-btn" target="_blank" title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
            <!--</ul>-->
        </li>
        <li class="menu-item expanded">
            <!--<ul class="submenu">-->
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="{{site.url}}/download/Thai_Font.mcpack" class="menu-link" target="_blank">
                            <i class="fa-solid fa-font" style="width: 25px; text-align: center;"></i> Thai Font <text
                                style="color: #ff0000;">(มีแค่ฟอนต์อย่างเดียว)</text>
                        </a>
                        <a href="https://github.com/NotSus555/THLanguage_Bedrock" class="small-btn" target="_blank"
                            title="ไฟล์ต้นฉบับ">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <div class="menu-row">
                        <a href="https://github.com/MineGarp/THLanguage_Bedrock" class="menu-link" target="_blank">
                            <i class="fa-solid fa-font" style="width: 25px; text-align: center;"></i> ภาษาไทยเกมหลัก
                            <text style="color: #ff0000;">(มีแค่ฟอนต์เดิมๆของเกม)</text>
                        </a>
                        <a href="https://youtu.be/7uriQaqQl5w?si=QP2VL-0Jl6vyx-H2" class="small-btn" target="_blank"
                            title="เล่นคลิป">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv" class="menu-link rd2-youtube"
                        target="_blank"><i class="fa-brands fa-youtube" style="width: 25px; text-align: center;"></i>
                        วิธีเปิดใช้งานม็อด</a>
                </li>
            <!--</ul>-->
        </li>
    </ul>
    {% include footer.html %}
</body>

</html>
